.wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
  background-color: #e3ecff;
  padding: 10px;
  align-items: center;
  border: 1px solid black;
  border-radius: 8px;
}
.button {
  padding: 8px 8px;
  border-radius: 8px;
  /* box-shadow: 2px 2px 2px 2px grey; */
  border: 1px solid black;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
ul {
  list-style: none;
}
.icon {
  margin-right: 8px;
}
